/*
   flex-wrap: wrap;
   permite a quebra de linha - AGORA QUEBRA
   quando não definimos o tamanho do elemento ele vai fazer o ajuste aé chegar a hora que ele não caiba
*/

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /*MUDA AQUIIIIIIIIIIIIII*/
}

.box{
  /* width: 10%;
  min-width: 200px;
  height: 200px; */
  margin: 20px;
  padding: 10px;
}

.no-float{clear: both;}

.box-1{background: #666;}
.box-2{background: #888;}
.box-3{background: #aaa;}
.box-4{background: #ccc;}
