/*
   flex-direction: row-reverse;
   os elementos ficam um ao lado do oputro só que em ordem inversa a partir da direita
*/

.container{
    display: flex;
    flex-direction: row-reverse;
}

.box{
  width: 10%;
  min-width:  200px;
  height: 200px;
  margin: 20px;
  padding: 10px;
}

.no-float{clear: both;}

.box-1{background: #666;}
.box-2{background: #888;}
.box-3{background: #aaa;}
.box-4{background: #ccc;}
